@page "/"

<PageTitle>Агрегатор агрегаторов такси</PageTitle>

<h1>Приветствую Вас</h1>

<p>Агрегатор служит для получения информации о заказах такси в подключенных у Вас агрегаторах. Выберите нужный агрегатор слева и потом класс Вашего авто.</p>

@*<SurveyPrompt Title="Как агрегатов поможет Вам?" />*@
@*https://aggregator.web2each.net/*@
@*https://bankstoday.net/last-articles/kak-rabotayut-agregatory-taksi-v-rossii-obzor-sravnenie-6-populyarnyh-servisov-dlya-voditelej#i-3*@